@layer page {
  .blog-list-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    justify-content: center;
  }

  .blog-ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap-3xl);
    justify-content: center;
  }

  .blog-card {
    align-items: center;
    background-color: var(--base);
    border: 3px solid var(--text);
    box-shadow: 6px 6px 0 var(--sub);
    color: var(--text);
    cursor: pointer;
    display: flex;
    font-size: var(--text-md);
    font-family: var(--font-title);
    font-weight: bold;
    gap: var(--gap-md);
    justify-content: center;
    max-width: 500px;
    outline: 3px solid var(--base);
    padding: var(--p-xs) var(--p-xs);
    transition:
      transform 0.2s ease-out,
      box-shadow 0.2s ease-out,
      outline 1s ease-out,
      position 1s ease-out,
      background-color 1s ease-out;
  }

  .blog-card:hover {
    box-shadow: 10px 10px 0 var(--sub);
    transform: translate(-1px, -1px);
  }

  .blog-card:active,
  .blog-card:focus-visible {
    border-color: var(--text);
    box-shadow: 0px 0px 0 var(--sub);
    transform: translate(1px, 1px);
  }

  .blog-card h2 {
    flex: 1;
  }

  .blog-card a {
    text-decoration: none;
  }

  .blog-card p {
    flex: 1;
    text-decoration: none;
  }

  .blog-card img {
    border: none;
    box-shadow: none;
    flex: 1;
    max-height: 300px;
    outline: none;
    max-width: 100%;
    width: 100%;
  }
}
