{{ define "main" }}
<main id="main-container" class="htmx-fade-in htmx-fade-out">
  <link rel="stylesheet" href="/css/blog.css" />
  <section class="blog-list-section">
    <h1>{{ .Title }}</h1>
    {{ if .Pages }}
    <ul class="blog-ul">
      {{ range .Pages }}
      <a href="{{ .RelPermalink }}">
        <div class="blog-card">
          <li class="flex-col">
            {{ $image := .Resources.GetMatch "cardimg" }} {{ if $image }}
            <img src="{{ $image.RelPermalink }}" alt="{{ .Title }} image" />
            {{ end }}
            <h2>{{ .Title }}</h2>
            <p>{{ .Summary }}</p>
            {{ with .Page.Params.tags }}
            <ul class="tags-list flex-row">
              {{ range . }}
              <li><p>{{ . }}</p></li>
              {{ end }}
            </ul>
            {{ end }}
          </li>
        </div>
      </a>
      {{ end }}
    </ul>
    {{ else }}
    <p>No content found.</p>
    {{ end }}
  </section>
</main>
{{ end }}
