{{ define "main" }}
<main id="main-container" class="htmx-fade-in htmx-fade-out">
  <link rel="stylesheet" href="/css/blog.css" />
  <section class="blog-list-section">
    <h1>{{ .Title }}</h1>
    {{ if .Pages }}
    <ul class="blog-ul">
      {{ range .Pages }}
      <a href="{{ .RelPermalink }}" style="text-decoration: none">
        <div class="blog-card flex-col">
          <h2>{{ .Title }}</h2>
          {{ $image := .Resources.GetMatch "cardimg" }} {{ if $image }}
          <img src="{{ $image.RelPermalink }}" alt="{{ .Title }} image" />
          {{ end }}
          <p>{{ .Summary }}</p>
          {{ with .Page.Params.tags }}
          <ul class="tag-list flex-row">
            {{ range . }}
            <li><p class="tag">{{ . }}</p></li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
      </a>
      {{ end }}
    </ul>
    {{ else }}
    <p>No content found.</p>
    {{ end }}
  </section>
</main>
{{ end }}
