@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-base: var(--base);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);

  --color-text: var(--text);
  --color-text-100: var(--text-100);
  --color-text-200: var(--text-200);
  --color-text-300: var(--text-300);
  --color-text-400: var(--text-400);
  --color-text-500: var(--text-500);
  --color-text-600: var(--text-600);
  --color-text-700: var(--text-700);
  --color-text-800: var(--text-800);
  --color-text-900: var(--text-900);

  --color-main: var(--main);
  --color-main-100: var(--main-100);
  --color-main-200: var(--main-200);
  --color-main-300: var(--main-300);
  --color-main-400: var(--main-400);
  --color-main-500: var(--main-500);
  --color-main-600: var(--main-600);
  --color-main-700: var(--main-700);
  --color-main-800: var(--main-800);
  --color-main-900: var(--main-900);

  --color-sub: var(--sub);
  --color-sub-100: var(--sub-100);
  --color-sub-200: var(--sub-200);
  --color-sub-300: var(--sub-300);
  --color-sub-400: var(--sub-400);
  --color-sub-500: var(--sub-500);
  --color-sub-600: var(--sub-600);
  --color-sub-700: var(--sub-700);
  --color-sub-800: var(--sub-800);
  --color-sub-900: var(--sub-900);

  --color-accent: var(--accent);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);

  --color-err: var(--err);
  --color-err-100: var(--err-100);
  --color-err-200: var(--err-200);
  --color-err-300: var(--err-300);
  --color-err-400: var(--err-400);
  --color-err-500: var(--err-500);
  --color-err-600: var(--err-600);
  --color-err-700: var(--err-700);
  --color-err-800: var(--err-800);
  --color-err-900: var(--err-900);

  --color-warn: var(--warn);
  --color-warn-100: var(--warn-100);
  --color-warn-200: var(--warn-200);
  --color-warn-300: var(--warn-300);
  --color-warn-400: var(--warn-400);
  --color-warn-500: var(--warn-500);
  --color-warn-600: var(--warn-600);
  --color-warn-700: var(--warn-700);
  --color-warn-800: var(--warn-800);
  --color-warn-900: var(--warn-900);

  --color-success: var(--success);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-900);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
}

@layer base {
  /* Default light theme variables */
  html[data-theme="light"] {
    --base: #faf4ed;
    --text: #575279;
    --err: #b4637a;
    --warn: #ea9d34;
    --main: #d7827e;
    --sub: #286983;
    --accent: #56949f;
    --success: #907aa9;
  }

  /* Dark theme variables */
  html[data-theme="dark"] {
    --base: #191724;
    --text: #e0def4;
    --main: #ebbcba;
    --sub: #31748f;
    --err: #eb6f92;
    --warn: #f6c177;
    --accent: #9ccfd8;
    --success: #c4a7e7;
  }

  @font-face {
    font-family: "saira";
    src: url("../fonts/SairaStencilOne/SairaStencilOne-Regular.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --font-main: "Ubuntu", "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
    --font-title: "saira", mono;
  }

  body::-webkit-scrollbar {
    width: 8px;
  }

  body::-webkit-scrollbar-track {
    background-color: var(--base);
  }

  body::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 5px;
  }

  body {
    background-color: var(--base);
    box-sizing: border-box;
    color: var(--text);
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 600;
    min-height: 100vh;
    overflow-x: hidden;
    transition: all 0.3s ease;
    width: 100vw;
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    @apply gap-4 p-1 sm:p-5 md:p-8 lg:p-12;
  }

  footer {
    align-items: center;
    background-color: var(--text);
    color: var(--base);
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-end;
    position: relative;
    width: 100vw;
  }

  footer a {
    color: var(--base);
    font-size: 14px;
    text-decoration: none;
    transition: color 0.2s ease;
  }

  footer a:hover {
    color: var(--sub);
  }

  header {
    align-items: center;
    background-color: rgba(var(--base), 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    padding: 8px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9997;
  }

  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    @apply gap-8 p-1 sm:p-5 md:p-8 lg:p-12;
  }

  article {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    @apply gap-4 p-8 sm:p-34;
  }

  nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @apply gap-2 p-2;
  }

  h1,
  h2,
  h4,
  h5 {
    background-color: var(--text);
    box-shadow: 6px 6px 0 var(--accent);
    color: var(--base);
    font-family: var(--font-title);
    outline: 2px solid var(--base);
    width: fit-content;
  }

  h1 {
    @apply p-4 text-5xl;
  }

  h2 {
    @apply p-3 text-2xl;
  }

  h3 {
    color: var(--text);
    font-family: var(--font-title);
    width: fit-content;
    @apply p-2 text-xl;
  }

  h4 {
    @apply p-1 text-lg;
  }

  h5 {
    @apply p-1 text-base;
  }

  h6 {
    color: var(--text);
    font-family: var(--font-title);
    width: fit-content;
    @apply p-1 text-sm;
  }

  img {
    box-shadow: 6px 6px 0 var(--accent);
    max-width: 80%;
    outline: 2px solid var(--base);
  }

  button {
    align-items: center;
    background-color: var(--base);
    border: 3px solid var(--text);
    box-shadow: 6px 6px 0 var(--sub);
    color: var(--text);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    outline: 3px solid var(--base);
    transition:
      transform 0.2s ease-out,
      box-shadow 0.2s ease-out,
      outline 1s ease-out,
      position 1s ease-out,
      background-color 1s ease-out;
  }

  button:hover {
    box-shadow: 10px 10px 0 var(--sub);
    transform: translate(-1px, -1px);
  }

  button:active,
  button:focus-visible {
    background-color: var(--text);
    border-color: var(--text);
    box-shadow: 0px 0px 0 var(--sub);
    color: var(--base);
    transform: translate(1px, 1px);
  }

  a {
    color: var(--text);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--text);
    text-underline-offset: 3px;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    transition:
      color 0.2s ease,
      text-decoration-color 0.2s ease;
  }

  a:hover {
    color: var(--base);
    text-decoration-color: var(--base);
  }

  a:active {
    color: var(--sub);
    text-decoration-color: var(--sub);
  }

  p {
    line-height: 1.6;
    margin-bottom: 1.2rem;
  }

  pre {
  }

  blockquote {
  }

  ul,
  ol {
  }

  li {
  }

  code {
  }

  @media (min-width: 640px) {
    header {
      padding-right: 20px;
    }
  }
}

@layer components {
  .custom-bg {
    background-image: radial-gradient(var(--accent) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    background-attachment: fixed;
  }

  .dashed-line-lg {
    border-top: 2px dashed var(--text);
    width: 80%;
  }

  .dashed-line-md {
    border-top: 2px dashed var(--text);
    width: 50%;
  }

  .dashed-line-sm {
    border-top: 2px dashed var(--text);
    width: 20%;
  }

  .site-link {
    color: var(--text);
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
    @apply py-1 mx-3;
  }

  .site-link:hover {
    color: var(--text);
  }

  .site-link::after {
    background-color: currentColor;
    bottom: -2px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    width: 100%;
  }

  .site-link:hover::after {
    color: var(--text);
    transform: scaleX(1);
  }

  .card {
    align-items: center;
    background-color: var(--base);
    border: 3px solid var(--text);
    box-shadow: 6px 6px 0 var(--sub);
    color: var(--text);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    outline: 3px solid var(--base);
    transition:
      transform 0.2s ease-out,
      box-shadow 0.2s ease-out,
      outline 1s ease-out,
      position 1s ease-out,
      background-color 1s ease-out;
  }
}

@layer utilities {
  /* layout utilities */
  .w-screen {
    width: 100vw;
  }

  .max-w-screen {
    max-width: 100vw;
  }

  /* htmx classes */
  .htmx-fade-out.htmx-swapping {
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }

  .htmx-fade-in.htmx-added {
    opacity: 0;
  }

  .htmx-fade-in {
    opacity: 1;
    transition: opacity 0.4s ease-in;
  }

  .hero-section img.htmx-blur-off {
    filter: blur(0px);
    transition: filter 2s ease-out;
    z-index: -999;
  }

  .hero-section img.htmx-blur-off.htmx-added {
    filter: blur(70px);
    z-index: -999;
  }
}
