@layer variables, base, components, utilities;

@layer variables {
  /* Default light theme variables */
  html[data-theme="light"] {
    --base: #faf4ed;
    --text: #575279;
    --err: #b4637a;
    --warn: #ea9d34;
    --main: #d7827e;
    --sub: #286983;
    --accent: #56949f;
    --success: #907aa9;
  }

  /* Dark theme variables */
  html[data-theme="dark"] {
    --base: #191724;
    --text: #e0def4;
    --main: #ebbcba;
    --sub: #31748f;
    --err: #eb6f92;
    --warn: #f6c177;
    --accent: #9ccfd8;
    --success: #c4a7e7;
  }

  @font-face {
    font-family: "saira";
    src: url("../fonts/SairaStencilOne/SairaStencilOne-Regular.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @custom-media --above-sm (width > 640px);
  @custom-media --above-md (width > 768px);
  @custom-media --above-lg (width > 1024px);
  @custom-media --above-xl (width > 1280px);
  @custom-media --above-2xl (width > 1536px);
}

@layer base {
  :root {
    --font-main: "Ubuntu", "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
    --font-title: "saira", mono;
  }

  body::-webkit-scrollbar {
    width: 8px;
  }

  body::-webkit-scrollbar-track {
    background-color: var(--base);
  }

  body::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 5px;
  }

  body {
    background-color: var(--base);
    box-sizing: border-box;
    color: var(--text);
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 600;
    min-height: 100vh;
    overflow-x: hidden;
    transition: all 0.3s ease;
    width: 100vw;
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 4px;
    justify-content: flex-start;
    min-height: 100vh;
  }

  footer {
    align-items: center;
    background-color: var(--text);
    color: var(--base);
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-end;
    position: relative;
    width: 100vw;
  }

  footer a {
    color: var(--base);
    font-size: 14px;
    text-decoration: none;
    transition: color 0.2s ease;
  }

  footer a:hover {
    color: var(--sub);
  }

  header {
    align-items: center;
    background-color: rgba(var(--base), 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    padding: 8px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9997;
  }

  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    @apply gap-8 p-1 sm:p-5 md:p-8 lg:p-12;
  }

  article {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    @apply gap-4 p-8 sm:p-34;
  }

  nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @apply gap-2 p-2;
  }

  h1,
  h2,
  h4,
  h5 {
    background-color: var(--text);
    box-shadow: 6px 6px 0 var(--accent);
    color: var(--base);
    font-family: var(--font-title);
    outline: 2px solid var(--base);
    width: fit-content;
  }

  h1 {
    @apply p-4 text-5xl;
  }

  h2 {
    @apply p-3 text-2xl;
  }

  h3 {
    color: var(--text);
    font-family: var(--font-title);
    width: fit-content;
    @apply p-2 text-xl;
  }

  h4 {
    @apply p-1 text-lg;
  }

  h5 {
    @apply p-1 text-base;
  }

  h6 {
    color: var(--text);
    font-family: var(--font-title);
    width: fit-content;
    @apply p-1 text-sm;
  }

  img {
    box-shadow: 6px 6px 0 var(--accent);
    max-width: 80%;
    outline: 2px solid var(--base);
  }

  button {
    align-items: center;
    background-color: var(--base);
    border: 3px solid var(--text);
    box-shadow: 6px 6px 0 var(--sub);
    color: var(--text);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    outline: 3px solid var(--base);
    transition:
      transform 0.2s ease-out,
      box-shadow 0.2s ease-out,
      outline 1s ease-out,
      position 1s ease-out,
      background-color 1s ease-out;
  }

  button:hover {
    box-shadow: 10px 10px 0 var(--sub);
    transform: translate(-1px, -1px);
  }

  button:active,
  button:focus-visible {
    background-color: var(--text);
    border-color: var(--text);
    box-shadow: 0px 0px 0 var(--sub);
    color: var(--base);
    transform: translate(1px, 1px);
  }

  a {
    color: var(--text);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--text);
    text-underline-offset: 3px;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    transition:
      color 0.2s ease,
      text-decoration-color 0.2s ease;
  }

  a:hover {
    color: var(--base);
    text-decoration-color: var(--base);
  }

  a:active {
    color: var(--sub);
    text-decoration-color: var(--sub);
  }

  p {
    line-height: 1.6;
    margin-bottom: 1.2rem;
  }

  pre {
  }

  blockquote {
  }

  ul,
  ol {
  }

  li {
  }

  code {
  }

  @media (--above-sm) {
    header {
      padding-right: 20px;
    }

    main {
      padding: 20px;
    }
  }

  @media (--above-md) {
    main {
      padding: 48px;
    }
  }

  @media (--above-lg) {
    main {
      padding: 64px;
    }
  }

  @media (--above-xl) {
    main {
      padding: 84px;
    }
  }
}

@layer components {
  .custom-bg {
    background-image: radial-gradient(var(--accent) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    background-attachment: fixed;
  }

  .dashed-line-lg {
    border-top: 2px dashed var(--text);
    width: 80%;
  }

  .dashed-line-md {
    border-top: 2px dashed var(--text);
    width: 50%;
  }

  .dashed-line-sm {
    border-top: 2px dashed var(--text);
    width: 20%;
  }

  .site-link {
    color: var(--text);
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
    @apply py-1 mx-3;
  }

  .site-link:hover {
    color: var(--text);
  }

  .site-link::after {
    background-color: currentColor;
    bottom: -2px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    width: 100%;
  }

  .site-link:hover::after {
    color: var(--text);
    transform: scaleX(1);
  }
}

@layer utilities {
  /* layout utilities */
  .w-screen {
    width: 100vw;
  }

  .max-w-screen {
    max-width: 100vw;
  }

  /* htmx classes */
  .htmx-fade-out.htmx-swapping {
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }

  .htmx-fade-in.htmx-added {
    opacity: 0;
  }

  .htmx-fade-in {
    opacity: 1;
    transition: opacity 0.4s ease-in;
  }

  .hero-section img.htmx-blur-off {
    filter: blur(0px);
    transition: filter 2s ease-out;
    z-index: -999;
  }

  .hero-section img.htmx-blur-off.htmx-added {
    filter: blur(70px);
    z-index: -999;
  }
}
