<footer class="">
  <div class="dashed-line-lg"></div>
  <div class="flex-col">
    <nav class="flex-row">
      <a
        class=""
        hx-get="/legal/privacy-policy"
        hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
        hx-push-url="/legal/privacy-policy"
        hx-select="#main-container"
        hx-swap="outerHTML swap:0.2s"
        hx-target="#main-container"
      >
        Privacy Policy
      </a>
      <a
        class=""
        hx-get="/legal/cookie-policy"
        hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
        hx-push-url="/legal/cookie-policy"
        hx-select="#main-container"
        hx-swap="outerHTML swap:0.2s"
        hx-target="#main-container"
      >
        Cookie Policy
      </a>
      <a
        class=""
        hx-get="/legal/accessibility-statement"
        hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
        hx-push-url="/legal/accessibility-statement"
        hx-select="#main-container"
        hx-swap="outerHTML swap:0.2s"
        hx-target="#main-container"
      >
        Accessibility Statement
      </a>
      <a
        class=""
        hx-get="/legal/credits"
        hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
        hx-push-url="/legal/credits"
        hx-select="#main-container"
        hx-swap="outerHTML swap:0.2s"
        hx-target="#main-container"
      >
        Credits
      </a>
    </nav>
    <p class="">&copy; 2025 <strong>rococcoon</strong>. All Rights Reserved.</p>
  </div>
</footer>
