<footer class="">
  <div class="dashed-line-lg"></div>
  <nav class="flex-col">
    <a
      class=""
      hx-get="/"
      hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
      hx-push-url="/"
      hx-select="#main-container"
      hx-swap="outerHTML swap:0.2s"
      hx-target="#main-container"
    >
      HOME
    </a>
    <a
      class=""
      hx-get="/about"
      hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
      hx-push-url="/about"
      hx-select="#main-container"
      hx-swap="outerHTML swap:0.2s"
      hx-target="#main-container"
    >
      ABOUT
    </a>
    <a
      class=""
      hx-get="/blog"
      hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
      hx-push-url="/blog"
      hx-select="#main-container"
      hx-swap="outerHTML swap:0.2s"
      hx-target="#main-container"
    >
      BLOG
    </a>
    <a
      class=""
      hx-get="/projects"
      hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
      hx-push-url="/projects"
      hx-select="#main-container"
      hx-swap="outerHTML swap:0.2s"
      hx-target="#main-container"
    >
      PROJECTS
    </a>
    <a
      class=""
      hx-get="/contact"
      hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
      hx-push-url="/contact"
      hx-select="#main-container"
      hx-swap="outerHTML swap:0.2s"
      hx-target="#main-container"
    >
      CONTACT
    </a>
  </nav>
  <div class="flex-col">
    <nav class="flex-row">
      <a
        class=""
        hx-get="/legal/privacy-policy"
        hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
        hx-push-url="/legal/privacy-policy"
        hx-select="#main-container"
        hx-swap="outerHTML swap:0.2s"
        hx-target="#main-container"
      >
        Privacy Policy
      </a>
      <a
        class=""
        hx-get="/legal/cookie-policy"
        hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
        hx-push-url="/legal/cookie-policy"
        hx-select="#main-container"
        hx-swap="outerHTML swap:0.2s"
        hx-target="#main-container"
      >
        Cookie Policy
      </a>
      <a
        class=""
        hx-get="/legal/accessibility-statement"
        hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
        hx-push-url="/legal/accessibility-statement"
        hx-select="#main-container"
        hx-swap="outerHTML swap:0.2s"
        hx-target="#main-container"
      >
        Accessibility Statement
      </a>
      <a
        class=""
        hx-get="/legal/credits"
        hx-on:click="window.scrollTo({ top: 0, behavior: 'smooth' });"
        hx-push-url="/legal/credits"
        hx-select="#main-container"
        hx-swap="outerHTML swap:0.2s"
        hx-target="#main-container"
      >
        Credits
      </a>
    </nav>
    <p class="">&copy; 2025 <strong>Rococcoon</strong>. All Rights Reserved.</p>
  </div>
</footer>
