<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{ .Site.Title }}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon/tux_icon.ico" />
  <script src="/js/htmx/htmx.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css" />
  <script>
    (function setSystemTheme() {
      const systemTheme = window.matchMedia?.("(prefers-color-scheme: dark)")
        .matches
        ? "dark"
        : "light";

      const currentTheme = document.documentElement.getAttribute("data-theme");
      if (!currentTheme) {
        document.documentElement.setAttribute("data-theme", systemTheme);
      }
    })();
  </script>
  <script
    src="/js/components/iconThemeAware/iconThemeAware.js"
    type="module"
  ></script>
</head>
