{{ define "main" }}
<main id="main-container" class="htmx-fade-in htmx-fade-out">
  <script src="/js/components/spinnerHex/spinnerHex.js" type="module"></script>
  <script
    src="/js/components/contactForm/contactRoot.js"
    type="module"
  ></script>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/home.css" />
  {{ partial "home/hero.html" . }}
  <div class="dashed-line-lg"></div>
  {{ partial "home/about.html" . }}
  <div class="dashed-line-lg"></div>
  {{ partial "home/blog.html" . }}
  <div class="dashed-line-lg"></div>
  {{ partial "home/projects.html" . }}
  <div class="dashed-line-lg"></div>
  {{ partial "home/contact.html" . }}
</main>
{{ end }}
