<section>
  <br />
  <br />
  <h2>BLOG</h2>
  <br />
  <br />
  <div class="flex-col">
    <p>Check out some stuff I wrote...</p>
    <p>Some stuff about coding...</p>
    <p>And maybe some other random stuff...</p>
    <p>It's a blog!</p>
    <button>
      <a
        class="site-link"
        hx-get="/blog"
        hx-on::after-request="window.scrollTo({ top: 0, behavior: 'smooth' });"
        hx-on:keydown="if (event.key === 'Enter') {htmx.trigger(this, 'click'); window.scrollTo({ top: 0, behavior: 'smooth' });}"
        hx-push-url="/blog"
        hx-select="#main-container"
        hx-swap="outerHTML swap:0.3s"
        hx-target="#main-container"
        tabindex="0"
      >
        READ MORE
      </a>
    </button>
  </div>
  <br />
  <br />
</section>
